USE [master]
GO
/****** Object:  Database [HCSSecurityDB]    Script Date: 3/20/2023 3:53:19 AM ******/
CREATE DATABASE [HCSSecurityDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HCSSecurityDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL12\MSSQL\DATA\HCSSecurityDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HCSSecurityDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQL12\MSSQL\DATA\HCSSecurityDB_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HCSSecurityDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HCSSecurityDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/20/2023 3:53:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfos]    Script Date: 3/20/2023 3:53:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfos](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[SaltKey] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[UserRole] [nvarchar](max) NOT NULL,
	[LastLoginAttemptAt] [datetime2](7) NULL,
	[LoginFailedAttemptsCount] [int] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_UserInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230319010404_SeedingData', N'7.0.4')
INSERT [dbo].[UserInfos] ([Id], [FullName], [UserName], [Password], [SaltKey], [Email], [UserRole], [LastLoginAttemptAt], [LoginFailedAttemptsCount], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'c1c93a83-9c7f-4320-b96b-133ef401990d', N'Sreemonta Bhowmik', N'sree', N'$2b$10$dqPNaHnCGjUcvxXHTRXmDeNwNRQ0YI8kT9376noZw8i8tDj8KKoEa', N'$2b$10$dqPNaHnCGjUcvxXHTRXmDe', N'sbhowmikcse08@gmail.com', N'Admin', CAST(0x07F795AD491626450B AS DateTime2), 4, NULL, CAST(0x07224F00F30825450B AS DateTime2), NULL, CAST(0x07234F00F30825450B AS DateTime2))
INSERT [dbo].[UserInfos] ([Id], [FullName], [UserName], [Password], [SaltKey], [Email], [UserRole], [LastLoginAttemptAt], [LoginFailedAttemptsCount], [CreatedBy], [CreatedDate], [UpdatedBy], [UpdatedDate]) VALUES (N'47cbe207-9162-4b1b-bda9-bc343db22545', N'Abu Hail', N'abu', N'$2b$13$wuPe9vcYftzsgFTK21tTTeOS/ZFZvmkcMR7MANsZF2yhqLlvDLKc2', N'$2b$13$wuPe9vcYftzsgFTK21tTTe', N'sreemonta@gmail.com', N'User', NULL, 0, N'c1c93a83-9c7f-4320-b96b-133ef401990d', CAST(0x0779AC25D6BD25450B AS DateTime2), NULL, NULL)
USE [master]
GO
